@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif; 
    background-image: linear-gradient(#afeeee, #4682b4);
}

div.page-menu {
    position: fixed;
    top: 50%;
    left: 90%;
    z-index: 10;
    text-align: right;
}

span.circle {
    height: 12.5px;
    width: 12.5px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    transform: translate(0, 20%);
    margin-left: 10%;
}

div.page { 
    height: 100vh;
}

