.sidebar { 
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.profile-picture-container {
  height: 35vh;
}

.profile-picture {
  display: block;
  margin: 7.5vh auto auto auto;
}

.contact-container {
  height: 20vh;
}

.contact-link {
  font-size: 0.75vw !important;
  color: #c0c0c0 !important;
}

.contact-link:hover {
  color: #c0c0c0;
  opacity: 0.8;
  text-decoration: none;
}

.menu-container {
  height: 30vh;
}

.nav-item {
  padding-left: 2vw;
}

.nav-link {
  font-size: 1.25vw;
  color: black;
  opacity: 1;
}

.nav-link:hover {
  color: black;
  opacity: 0.25;
}

.nav-link:hover .nav-text {
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.25);
}

.nav-icon {
  display: inline-block;
  width: 1.8vw;
}

.selected-link {
  color: #c0c0c0 !important;
}

.selected-link .nav-text {
  border-bottom: 2.5px solid #c0c0c0;
}

.social-container {
  height: 10vh;
  text-align: center;
}

.social {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 2.4vw;
}

.github {
  color: black;
}

.github:hover {
  color: black;
  opacity: 0.5;
}

.linkedin {
  color: #0976b4;
}

.linkedin:hover {
  color: #0976b4;
  opacity: 0.5;
}

.footer {
  height: 5vh;
  width: 100%;
  text-align: center;
  font-size: 0.75vw;
  font-style: italic;
}

.main-content {
  padding-top: 1.75vh;
}

.sidebar-button {
  display: none;
}

/* Styles for mobile devices */
@media screen and (max-width: 767.98px) {
  .profile-picture-container {
    height: 25vh;
  }

  .contact-container {
    height: 17.5vh;
  }

  .contact-link {
    font-size: 2.5vw !important;
  }

  .menu-container {
    height: 20vh;
  }

  .nav-item {
    padding-left: 4vw;
  }

  .nav-link {
    font-size: 4.5vw;
  }

  .nav-link:hover {
    color: #c0c0c0;
    opacity: 1;
  }

  .nav-icon {
    width: 6vw;
  }

  .selected-link .nav-text {
    border-bottom: none !important;
  }

  .social-container {
    height: 10vh;
  }

  .social {
    font-size: 10vw;
  }

  .footer {
    height: auto;
    font-size: 2vw;
  }

  .main-content {
    padding-top: 0;
  }

  .sidebar-button {
    display: inline-block;
    margin-top: 15px;
    margin-left: 2.5px;
    padding-left: 1.75vw;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
  }

  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 500ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}