.content {
	padding-top: 1.75vh;
}

.list {
	list-style: none;
	margin-top: 1.25vh;
}

.list-item {
	margin-bottom: 2vh;
}

.duration {
	float: right;
}

@media screen and (max-width: 767.98px) {
	.content {
		padding-top: 0;
	}

	.list {
		padding: 0;
	}

	.duration {
		font-style: italic;
		float: none;
		display: block;
	}
}