.sidebar { 
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  min-height: 100vh;
  position: sticky;
}

.profile-picture {
  display: block;
  margin: 8vh auto 8vh auto;
}

.contact-container {
  padding-left: 2vw;
  margin-top: 4vh;
  margin-bottom: 8vh;
}

.contact-link {
  font-size: 0.8vw;
  color: black;
}

.contact-link:hover {
  color: #c0c0c0;
  opacity: 0.8;
  text-decoration: none;
}

.nav-menu {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.nav-item {
  padding-left: 1vw;
}

.nav-link {
  font-size: 1.75vw;
  color: black;
  opacity: 1;
}

.nav-link:hover {
  color: black;
  opacity: 0.25;
}

.selected-link {
  color: #c0c0c0;
}

.selected-link span {
  border-bottom: 2.5px solid #c0c0c0;
}

.social-container {
  margin-top: 10vh;
  text-align: center;
}

.social {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 2.4vw;
}

.github {
  color: black;
}

.github:hover {
  color: black;
  opacity: 0.5;
}

.linkedin {
  color: #0976b4;
}

.linkedin:hover {
  color: #0976b4;
  opacity: 0.5;
}

.footer {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.75vw;
  font-style: italic;
}